<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./styles/estilos.css">
    <title>Form Spotify</title>
</head>

<body>
   <div class="formu">
       <div class="esclavo">
    <form action="/artist-search" method="GET">
        <label>
            <input class="input-estilo" type="text" name="artista">
        </label>
        <button class="boton btn btn-danger" type="submit">
            <p class="boton-text"> SEARCH FOR AN ARTIST</p>
        </button>

    </form>
    </div>
   </div>
</body>
</html>