<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Spotify</title>
</head>
<body>
    <h1>FORM SPOTIFY</h1>
    <form action="/artist-search" method="GET">
        <label>
            <input type="text" name="artista">
        </label>
        <button type="submit">
            SEARCH FOR AN ARTIST
        </button>

    </form>
</body>
</html>